* {
  font-family: "Montserrat", "sans-serif";
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: darkblue;
  color: white;
}

  body {
    margin: 0;
    font-family: Montserrat, sans-serif;
  }
  
  h1 {
    font-family: Montserrat, sans-serif;
    float: left;
    background-color: purple;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }

  .container2 {
    min-width: 500px;
    margin: auto;
  }

  .description {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    color: #4a4a4a;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #4a4a4a;
  }
  .recipe {
    background-color: gray;
    color: black;
    border-radius: 5px;
    border: 2px darkblue solid;  
  }

  .foodpic {
    width: 100%;
    max-width: 20px;
    height: auto;
  }

  .aboutpic {
    width: 100%;
    max-width: 10px;
    height: auto;
  }

  .grid-container {
    padding: 15px;
    border: 2px darkblue solid;
    box-sizing: border-box;
    background-color: darkred;
    color: whitesmoke;
  }

  .grid-item { 
    background-color: white; 
    border: 1px solid black; 
    padding: 15px; 
    font-size: 30px; 
    text-align: left; 
  }

  .box_a {
    float:left;
    width:42px;
    height:42px;
    padding-left: 15px;
  }

  .box_b {
    padding: 15px;
  }
  

  nav {
    float: right;
    width: 5%;/*9.375em;/*150px*/
    min-height: 100%;
    background: darkmagenta;
    color: #fff;
    overflow: hidden;
    transition:(width);
  }
  nav label {
    display: block;
    position: relative;
    width: 100%;
    padding: .25em 0;
    height: 2.5em;
    cursor: pointer;
  }

  nav label a::before {
    content: "\f0c9";
    position: absolute;
    width: 100%;
    font-family: fontAwesome;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 0 #666;
    transition: (all);
  }

nav label a:hover::before {
  text-shadow: none;
}

  :target {
    z-index: 2;
    opacity: 1;
  }


  .sec-contact {
    background: lightblue;
  }

  .soc-media {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .soc-media li {float: left;}
  .soc-media li:not(:first-child) a {margin-left: .75em;}
  .soc-media a {
    display: block;
    color: #aaa;
    font-size: 3em;
    text-decoration: none;
    transition: color;
  }

  .soc-media a:hover {
    color: black;
  }

  .soc-media a:active {
    color: #666;
  }

  /* 
  src="images/aboutpic.jpeg" 
  src="images/mochicake.jpeg" 
  src="images/ebelskivers.jpeg" 
  src="images/savcrepes.jpeg" 
  src="images/sweetcrepes.jpeg" 
  */