* {
  font-family: "Montserrat", "sans-serif";
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: darkblue;
  color: white;
}

  body {
    margin: 10;
  }
  
  h1 {
    float: left;
    background-color: purple;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }

  .container2 {
    min-width: 500px;
    margin: auto;
  }

  .description {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    color: #4a4a4a;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #4a4a4a;
  }
  .recipe {
    background-color: gray;
    color: black;
    border-radius: 5px;
    border: 2px darkblue solid;  
  }

  .foodpic {
    width: 100%;
    max-width: 20px;
    height: auto;
  }

  .aboutpic {
    max-width: 10px;
    height: auto;
  }

  .grid-container {
    padding: 15px;
    border: 2px darkblue solid;
    box-sizing: border-box;
    background-color: darkred;
    color: whitesmoke;
  }

  .grid-item { 
    background-color: white; 
    border: 1px solid black; 
    padding: 15px; 
    font-size: 30px; 
    text-align: left; 
  }

  .box_a {
    float:left;
    width:42px;
    height:42px;
    padding-left: 15px;
  }

  .box_b {
    padding: 15px;
  }

  /* 
  src="images/aboutpic.jpeg" 
  src="images/mochicake.jpeg" 
  src="images/ebelskivers.jpeg" 
  src="images/savcrepes.jpeg" 
  src="images/sweetcrepes.jpeg" 
  */