/* header, footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    min-width: 500px;
    height: 20px;
    font-family: Montserrat, sans-serif;
    justify-content: center;
  } */

  body {
    margin: 0;
    font-family: Montserrat, sans-serif;
  }
  
  h1 {
    font-family: Montserrat, sans-serif;
    float: left;
    background-color: purple;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }

  .container2 {
    min-width: 500px;
    margin: auto;
  }

  .description {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    color: #4a4a4a;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #4a4a4a;
  }
  .recipe {
    background-color: gray;
    color: black;
    border-radius: 5px;
    border: 2px darkblue solid;  
  }

  .foodpic {
    width: 100%;
    max-width: 20px;
    height: auto;
  }

  .aboutpic {
    width: 100%;
    max-width: 10px;
    height: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 50% 50%;
    grid-gap: 5px 5px;
    padding: 15px;
    border: 2px darkblue solid;
    height: 400px;
    width: 400px;
  }

  .grid-item { 
    background-color: white; 
    border: 1px solid black; 
    padding: 15px; 
    font-size: 30px; 
    text-align: left; 
  }

  .box_a {
    float:left;
    width:42px;
    height:42px;
    padding-left: 15px;
  }

  .box_b {
    padding: 15px;
  }